@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@media only screen {
    * {
        box-sizing: border-box;
    }

    .textundermenu{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        padding-left: 40%;
        /* border: 1px solid red; */
    }
    
    .menu {
        display: grid;
        /* grid-gap: 10px; */
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        
        /* grid-template-rows: 85% 15%; */
      }
    
    .cardmenu__block{    
        cursor: pointer;
        grid-column: 1 / 3;
        /* border: 1px solid red; */
    }
    
    .cardmenu__image{
        border-radius: 8px;
    }
    
    .cart--menu__button{
        cursor: pointer;
        padding-right: 60%;
    }
    
    .delete--menu__button{
        cursor: pointer;
        padding-right: 50px;
    }
    
    .undermenu {
        display: inline-block;
        /* grid-template-rows: 100% 20px; */
        text-align: center;
        /* vertical-align:top; */
        border: 1px solid red;
    }
    
    
    
    div.inline{
        float: left;
    }
    
}
