@media only screen{
    .menuzone{
        display: grid;
        justify-content: center;  
        align-content: center; 
        grid-template-columns: 12.5% 25% 25% 25% 12.5%;
        grid-template-rows: 50% 50%;
        /* grid-row-gap: 10px; */
        margin-top: 3%;
        min-width: 600px;
    }
    
    .mergerow-left{
        cursor: pointer;
        grid-area: 1/1/3/2;
        align-self: center;
    
    }
    
    .mergerow-right{
        cursor: pointer;
        grid-area: 1/5/3/6;
        /* grid-row: 1/3; */
        align-self: center;
    }
    
    /* .firstrow{
        display: grid;
        grid-gap: 5px;
    } */
    
}
